body{
  text-align: center;
  margin: 0;
  padding: 0;
  text-align: center;
  background: url("simon-backgroung.gif") no-repeat center center fixed;
  background-size: cover; 
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden; 
}
.btn {
    height: 250px;
    width: 250px;
    border-radius: 35%;
    border :10px solid black; 
    margin: 1rem;

}
h1{
    color: #cff223;
    margin-top: 100px;

}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color:rgb(241, 52, 83);
}
.yellow{
    background-color: #ddeb1c;
}
.green{
    background-color: rgb(52, 218, 179);
}
.purple{
    background-color: rgb(135, 62, 199);
}
.flash{
    background-color: rgb(239, 238, 243);
}
.userflash{
    background-color: rgb(14, 226, 18);
}